*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    width: 100%;
    height:100vh ;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-box{
    width: 90%;
    max-width: 500px;
    height:300px;
    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: -2px -2px 7px darkslategray , 3px 3px 5px #4c616b;
    padding: 15px;
}
.pro-box h3{
    font-size: 17px;
    font-family: Arial;
    color: dodgerblue;
  border-bottom: 1px solid dodgerblue;
    padding-bottom: 5px;


}
.pro-line{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro-title{
    font-size: 14px;
    color: darkslategray;
    flex-basis: 10%;
}
.kol{
    width: 80%;
    height: 8px;
    background-color: #c7d4ee;
    border-radius: 5px;
    padding: 1px;
}
.joz{

    background-color: dodgerblue;
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}
.joz span{
    font-size: 10px;
    position: absolute;
    top: -30px;
    left: 90%;
    padding: 3px;
    background-color: red;
    color: white;
}
.joz::before{
    content: '';
    height: 8px;
    width: 8px;
    background-color: red;
    position: absolute;
    top: -18px;
    left: 95%;
    transform: rotate(45deg);

}